*{
    margin: 0;
    padding: 0;
    
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url("https://img.freepik.com/free-vector/calendar-concept-illustration_114360-304.jpg?w=900&t=st=1676705284~exp=1676705884~hmac=626549b96927e7ec4be6185f29b5ac90ba632e2e8b746c0b09c9e7a3f36e8982");
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: fuchsia;
    font-weight: 300;
    padding: 5px 20px;
    background: transparent;
    border: 1px solid yellow;
    transition: ease-in 3ms;
}
ul li a:hover{
    background-color: black;
    color: white;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo{
    float: left;
    width: 150px;
    height: auto;  
    margin-top: 25px;
}
main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(247, 10, 85);
    font-style: italic;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title h1{
    color: rgb(218, 242, 7);
 font-size: 70px;
}
.button{
    position: absolute;
    text-decoration: none;
    color: black;
    font-weight: 300;
    padding: 5px 20px;
    background: transparent;
    border: 1px solid #000;
    transition: ease-in 3ms;
    top: 60%;
    left: 50%;
    transform: translate(-60%,70%);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }